<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shell.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="ATToolbox" publicKeyToken="null" />
                <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="0.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <connectionStrings />
    <applicationSettings>
        <Shell.UI.Properties.Settings>
            <setting name="FieldDescription" serializeAs="String">
                <value>database.ed</value>
            </setting>
        </Shell.UI.Properties.Settings>
    </applicationSettings>
</configuration>