<CONFIG>
  <LOG>
	  <CORE>
		  <Enabled>True</Enabled>
		  <WaitForListeners>True</WaitForListeners>
	  </CORE>
	  <DISPLAY>
		  <ShowDebug>False</ShowDebug>
		  <ErrorColor>Red</ErrorColor>
		  <WarningColor>Orange</WarningColor>
		  <InfoColor>Black</InfoColor>
		  <DebugColor>Gray</DebugColor>
		  <ScrollDown>True</ScrollDown>
		  <RecentLogCount>100</RecentLogCount>
	  </DISPLAY>
	  <FILE_WRITER>
		  <FileURI>.\HelpBrowser.log</FileURI>
		  <Enabled>True</Enabled>
		  <PerFileCount>100000</PerFileCount>
	  </FILE_WRITER>
  </LOG>
  <HELP>
    <HelpFilePath/>
    <DebugMode>False</DebugMode>
  </HELP>
	<ERROR_MAIL>
		<RemoteAdress>work@auditech.ru</RemoteAdress>
	</ERROR_MAIL>
</CONFIG>